.cta-btn{
    text-decoration: none;
    width: 170px;
    border: solid 1.5px #95090f;
    border-radius: 2px !important;
    height: 40px;
    border-radius: 22px;
    color: #ded9d9;
    font-weight: 500!important;
    font-size: 21px;
    padding-top: 3px;
    background: #95090f !important;
}



