@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Lexend+Deca:wght@400;500;600;700;800;900&display=swap');

@import "reset.css";
@import "button.css";


* {
  background-color: #272727;
  color: #eff1f3;
}

body {
  background-color: #272727;

}


.container {
  background-color: #272727;
  color: #eff1f3;
}

.card-title {
    margin-top: 4%;
}

h2{
  color: #fff;
  margin-top: 2px;
}

 .display-4
        {
            padding-bottom: 2%;
            text-align: center;
            color: 	#009FB8;
        }


 .card
 {
    max-width: 90%;
    margin: auto;
    border: none;
    background-color: #272727;
    padding-bottom: 5%;

 }

 .card > img {
   max-height: 400px;
   width: auto;
 }

