<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/about.css" />
    <title>About Us</title>
</head>
<body>

<!---Insert Navbar here-->
<div th:insert="fragments/navbar.html :: navbar"></div>
<!---End of Navbar-->

<!--Banner picture--->
    <div class="about-banner">
        <div class="abt-banner-text">
            <h2>About Us</h2>
            <p>We aim to provide affordability and great service</p>
        </div>

    </div>

<!--End of Banner-->


    <div  class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Our Story</h1>
            <p class="lead">We are MICE, an online based store for computer parts operating from sunny Singapore.
                We task ourselves to provide the best online shopping experience for your computer hardware products. Our team consist of 4 passionate individuals who are looking forward to assist you.
            </p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Meet Our Team</h1>

            <div class="row g-3">

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img src="abtImages/cornelius.png" class="class-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Cornelius<a href="https://www.linkedin.com/in/cornelius-chao-7b995433/"><img class="linkedin" src="abtImages/linkedin.png"></a></h5>
                            <p class="card-text">I used to be a Teacher at a special education school for children and youths with special needs like autism, intellectual disability, developmental delay, and multiple disabilities. I am hoping to move to a new career in tech.</p>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img src="abtImages/human.png" class="class-img-top">
                        <div class="card-body">
                            <h5 class="card-title">WeiChin<a href="https://www.linkedin.com/"><img class="linkedin" src="abtImages/linkedin.png"></a></h5>
                            <p class="card-text">I am an aspiring software developer in the SGUP-CT Jr Full Stack Developer program. I am looking forward to a career switch to tech.</p>
                        </div>

                </div></div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img src="abtImages/gar.png" class="class-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Gareth<a href="https://www.linkedin.com/in/garethfong"><img class="linkedin" src="abtImages/linkedin.png"></a></h5>
                            <p class="card-text">I was a former IT Analyst with 4 years of experience in the Telecom Industry. I enjoy developing technical solutions that make a positive difference and I am seeking an opportunity that can leverage my tech skills.</p>
                        </div>

                </div></div>


                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img src="abtImages/christmin.png" class="class-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Christmin<a href="https://www.linkedin.com/in/christmin-k/"><img class="linkedin" src="abtImages/linkedin.png"></a></h5>
                            <p class="card-text">I spend my free time baking and finding new spots to dine. As a learner of the Junior Full Stack Developer course, I enjoy learning new things and problem solving.
                            I hope to secure a full time role as a Software Developer.</p>
                        </div>

                </div>
            </div>

        </div>
        </div>
    </div>



<!----start of brands area--->

        <div class="jumbotron jumbotron-fluid" id="brands">
            <div class="container">
                <h1 class="display-4">Our Brands</h1>

                <div class="row g-3" >
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img src="abtImages/nvidia.png" class="class-img-top">

                        </div>

                    </div>


                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img src="abtImages/sony.jpg" class="class-img-top">

                        </div>

                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img src="abtImages/apple.png" class="class-img-top">

                        </div>

                    </div>



                </div>

            </div>
        </div>

<!----end of brands area--->



<!----start of footer--->
<div th:insert="fragments/footer.html :: footer"></div>

<!---end of footer--->

<!-- BS 5.0 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>


