<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MICE, a eCommerce for Computer Parts</title>

  <!--add css here-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!--add javascript here -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!--<script src="./js/javascript.js" defer></script> -->

</head>
<body>

  <!--
  ///////////////////////
  start - Navbar section
  ///////////////////////
  -->
  <div th:insert="fragments/navbar.html :: navbar"></div>
  <!--
  ///////////////////////
  end - Navbar section
  ///////////////////////
  -->
  <!--Picture-->
  <div id="pictures">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <img align="middle" img src="imgs/products/asusGTX3090.jpg" width="500" height="auto" alt="Computer">
        </div>
        <div class="col"></div>
      </div>
    </div>


  </div>
  <!--End of Picture-->

  <!--Username & Password-->
  <section id="form_addbox">
    <div class="container">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <h1>Username</h1>
          <br>
          <form onSubmit="event.preventDefault(); addUserNameForm();"></form>
          <p>
            <label for="Name">Name:</label>
            <input type="text" id="Name" names="Name"
                   placeholder="Name" required>
          </p>
          <br>
          <p>
            <label for="Upload Image">Upload Image:</label>
            <input type="text" id="choosenFile" names="choosenFile"
                   placeholder="Choosen File" required>
          </p>
          <br>
          <p>
            <label for="Price">Enter Price:</label>
            <input type="text" id="EnterPrice" names="EnterPrice"
                   placeholder="Enter Price" required>
          </p>
          <br>
          <p>
            <label for="Brand">Enter Brand</label>
            <input type="text" id="EnterBrand" names="EnterBrand"
                   placeholder="Enter Brand" required>
          </p>
          <br>
          <p>
            <label for="description"><br>Description:</label>
            <input type="text" id="description" names="description"
                   placeholder="Description" required>
          </p>
          <br>
          <p>
            <button type="submit" class="btn btn-primary">Submit</button>
          </p>
        </div>
        <div class="col"></div>
      </div>
    </div>


    <!--End of Username & Password-->
    <!-- End of Navigation Bar-->
    <script src="js/login.js"></script>
</body>
<!--
    ///////////////////////
    start - Footer section
    ///////////////////////
    -->

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>MICE Pte Ltd(UEN: 12345678A)
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i>Singapore</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#">MICE.com.sg</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<div th:insert="fragments/footer.html :: footer"></div>
<!-- end - Footer section-->







</body>
</html>