<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!--add javascript here -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <link href="/css/product.css" rel="stylesheet">


    <title>Our Products</title>
</head>
<body>

<div th:insert="fragments/navbar.html :: navbar"></div>

<!--Banner picture--->
<div class="prod-banner">
    <div class="product-banner-text">
        <h2>Our Products</h2>
        <p>Discover our wide range of computer parts</p>
    </div>

</div>

<!--End of Banner-->

<!-- Start of GPU container  -->
<div class="container">
    <div class="row d-flex justify-content-center">
        <h5 class="card-header text-center pt-2" style="width: 100%">
            GPU Selection
        </h5>
        <div class="card-group product" id="row0">
            <!-- Cards generated dynamically using JS -->
            <div class="card" style="min-width: 20rem;" th:each="item : ${items}">
                <img th:src="'/'+${item.imageUrl}" class="card-img-top" alt="item image"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.name}"></h5>
                    <p class="card-text" th:text="${item.description}"></p>
                    <!-- <a id="${moreBtnId}" href="#" class="btn btn-primary" data-toggle="modal" data-target="#productModal">More</a> -->

                    <!-- Button trigger modal -->
                    <button type="button" th:id="${item.id}" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#productModal" th:onclick="'displayItemDetail('+${item.id}+')'">more
                    </button>
                </div>
            </div>
            git add --all
        </div>
        <!--End of row-->
    </div>
</div>
<!-- End of GPU List item div -->


<!-- Modal popup for each product when user clicks on "More" button -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p id="itemName">Dummy Item Name</p>
            </div>
            <div class="modal-body">
                <img id="itemImage" src="" class="card-img-top" alt="Product Item Image"/>
                <hr/>
                <p><b>Description:</b><span id="itemDescription"> Dummy Item Description</span></p>
                <br/>
                <p><b>Price:</b><span id="itemPrice"> 66666</span></p>
                <p><b>Sold:</b><span id="itemSold"> Dummy Item Sold</span></p>
                <p><b>Available:</b><span id="itemQuantity"> Dummy Item Quantity</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <!-- End Of Modal Popup  -->
</div>


<script th:inline="javascript">
    const itemList = [[${items}]];

    function displayItemDetail(id) {
        console.log(id);

        itemList.forEach(item => {
            if (item.id === id) {
                document.querySelector("#itemName").innerText = item.name;
                document.querySelector("#itemDescription").innerText = item.description;
                document.querySelector("#itemImage").src = '/' + item.imageUrl;
                document.querySelector("#itemPrice").innerText = (typeof item.price === 'undefined' || item.price === null) ? 0 : item.price;
                document.querySelector("#itemSold").innerText = (typeof item.sold === 'undefined' || item.sold === null) ? 0 : item.sold;
                document.querySelector("#itemQuantity").innerText = (typeof item.quantity === 'undefined' || item.quantity === null) ? 0 : item.quantity;
            }
        })
    }

</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>

